@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/FormCSS.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
</head>
<body>
<form method="post" action="@Url.Action("ValidateData", "Payment")">
    <fieldset class="form-style-1">
        <legend>Add Checkout</legend>
        <div>
            <label for="Name">Name:</label>
            <input type="text" name="Name" value="Name" required="required"/>
        </div>
        <div>
            <label for="Email">Email:</label>
            <input type="email" name="Email" value="Email" required="required"/>
        </div>
        <div>
            <label for="Phone number">Phone number:</label>
            <input type="text" name="Phone number" value="" />
        </div>
        <h3>Billing Address </h3>
        <p id="shiptobilling" class="form-row">
            Same as Shipping <input type="checkbox" onclick="SetBilling(this.checked);" /> 
        </p>
        <div>
            <label for="Country">Country:</label>
            <input id="country" type="text" name="Country" value="" required="required"/>
            <div>
                <label for="Zipcode">Zipcode:</label>
                <input id="zipcode" type="text" name="Zipcode" value="" required="required"/>
            </div>
            <div>
                <label for="City">City Name:</label>
                <input id="city" type="text" name="City" value="" required="required"/>
            </div>
            <div>
                <label for="Street">Street Name:</label>
                <input id="street" type="text" name="Street" value="" required="required"/>
            </div>
            <div>
                <label for="House">House Number:</label>
                <input id="house-number" type="text" name="House" value="" required="required"/>
            </div>
        </div>
        <div id="deliveryaddres" style="display:block"; style="display:none";>
            <h3>Shipping  Address </h3>
            <div>
                <label for="Country">Country:</label>
                <input id="deliver-country" type="text" name="Country" value="" required="required"/>
            </div>
            <div>
                <label for="Zipcode">Zipcode:</label>
                <input id="delivery-zipcode" type="text" name="Zipcode" value="" required="required"/>
            </div>
            <div>
                <label for="City">City Name:</label>
                <input id="deliver-city" type="text" name="City" value="" required="required"/>
            </div>
            <div>
                <label for="Street">Street Name:</label>
                <input id="deliver-street" type="text" name="Street" value="" required="required"/>
            </div>
            <div>
                <label for="House">House Number:</label>
                <input id="deliver-house-number" type="text" name="House" value="" required="required"/>
            </div>
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>
</body>
</html>