@{
    Layout = null;
    var user = ViewData["user"] as User;
}

<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/FormCSS.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
</head>
<body>
<form method="post" action="@Url.Action("ValidatePayment", "Payment")">
    <fieldset class="form-style-1">
        <legend>Payment</legend>
        <div>
            <label for="Card Holder Name">Card Holder Name:</label>
            <input type="text" name="Card Holder Name" value="@if (user != null) {@user.CardHolderName}" required="required"/>
        </div>
        <div>
            <label for="Card Number">Card Number:</label>
            <input type="text" name="Card Number" value="@if (user != null) {@user.CardNumber}" required="required"/>
        </div>
        <div>
            <label for="Expiry Date">Expiry Date:</label>
            <input type="datetime" name="Expiry Date" value="@if (user != null) {@user.ExpiryDate}" />
        </div>
        <div>
            <label for="CVV">CVV Code:</label>
            <input type="text" name="CVV" value="@if (user != null) {@user.CVVCode}" />
        </div>
@*        <div hidden="true">
            <label for="Email">Email:</label>
            <input class="field-long" type="text" name="Email" value="@ViewData["email"]" />
        </div>
        <div hidden="true">
            <label for="Name">Name:</label>
            <input type="text" name="Name" value="@ViewData["name"]" />
        </div>*@
        <br>
        <input type="submit" value="Submit" class="submit" />
    </fieldset>
</form>
</body>
</html>